* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.start {
  height: 3vw;
  width: 7vw;
}
.stop {
  height: 3vw;
  width: 7vw;
}
.date {

  margin-top: 3vw;
  text-align: center;
  height: 3vw;
  width: 15vw;
  background-color: black;
  color: #fff;
  font-size: 1.5vw;
}